<html>

<head>
    <title>{{ title }}</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"> -->
    <!-- use of initial-scale means width param is treated as min-width -->
    <meta name="viewport" content="width=450, initial-scale=1.0" >

    <script src="/static/mdl/material.min.js"></script>
    <script src="/static/promise.min.js"></script>
    <script src="/static/homepage.js"></script>
    <link rel="stylesheet" href="/static/mdl/material.red-cyan.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/mdl/mdl-icons.css">

</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--waterfall homepage-header">
            <div class="mdl-layout__header-row homepage-logo-row">
                <span class="mdl-layout__title">
                    <div class="homepage-logo">
                    </div>
                    <span class="mdl-layout__title">Computer experimenter since Windows 95</span>
                </span>
            </div>
            <div class="mdl-layout__header-row homepage-navigation-row mdl-layout--large-screen-only">
                {% block navigation_big %}{% endblock %}
            </div>
        </header>
        <div class="mdl-layout__drawer mdl-layout--small-screen-only">
            {% block navigation_small %}{% endblock %}
        </div>
        <div class="mdl-layout__drawer-button mdl-layout--small-screen-only">
            <i class="material-icons"><img src="/static/images/site/ic_list_black_24px.svg" style="width:70%; height:70%"></i>
        </div>
        <main class="mdl-layout__content">
            <div class="mdl-grid homepage-max-width">
                {% block content %}{% endblock %}
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">{{ copyrigt_info }}</div>
                </div>
                <div class="mdl-mini-footer__right-section">
                    <ul class="mdl-mini-footer__link-list">
                        <li>
                            <a href="https://github.com/cschmautz"><img class="social-img" src="/static/images/site/github_white.png"/></a>
                            <a href="https://www.reddit.com/user/cyanrave"><img class="social-img" src="/static/images/site/reddit_white.png"/></a>
                            <a href="https://www.facebook.com/chris.schmautz"><img class="social-img" src="/static/images/site/facebook_white.png"/></a>
                            <a href="https://www.linkedin.com/in/christopher-schmautz-0b03bb57/"><img class="social-img" src="/static/images/site/linked_in_white.png"/></a>
                        </li>
                        <li><a href="https://getmdl.io/index.html">UI by Material Design Lite</a></li>
                    </ul>
                </div>
            </footer>
        </main>
    </div>
</body>

</html>
