{% extends "base.html" %}
{% block navigation_big %}
<nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
    <a class="mdl-navigation__link" href="/portfolio">Portfolio</a>
    <a class="mdl-navigation__link" href="/blog">Blog</a>
    <a class="mdl-navigation__link" href="/about">About</a>
    <a class="mdl-navigation__link is-active" href="/contact">Contact</a>
</nav>
{% endblock %}
{% block navigation_small %}
<nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
    <a class="mdl-navigation__link" href="/portfolio">Portfolio</a>
    <a class="mdl-navigation__link" href="/blog">Blog</a>
    <a class="mdl-navigation__link" href="/about">About</a>
    <a class="mdl-navigation__link is-active" href="/contact">Contact</a>
</nav>
{% endblock %}
{% block content %}
<div class="contact-content-container mdl-shadow--2dp">
    {{ content|markdown|safe }}
    <div class="mdl-grid homepage-max-width">
            <form action="#" class="contact-form-container">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label msg-topic">
                    <input class="mdl-textfield__input" type="text" id="mail-subject" pattern="[A-Z,a-z, ]*">
                    <label class="mdl-textfield__label" for="mail-topic">Message subject</label>
                    <span class="mdl-textfield__error">Letters and spaces only</span>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label msg-email">
                    <!-- Hey HTML5 graybeards, way to royally screw the pooch on type="email"! What a shame....-->
                    <!-- In a shouting match, my fus-ro-dah would rip you to pieces.-->
                    <input class="mdl-textfield__input" type="text" id="mail-email" pattern="([a-zA-Z0-9-.+_'\u0022]+)@([a-zA-Z0-9-.]*[.][a-zA-Z0-9-.]*){1,8}">
                    <label class="mdl-textfield__label" for="mail-callback">Email to reach you at</label>
                    <span class="mdl-textfield__error">Incorrect email format</span>
                </div>
                <br>
                <!-- javascript regex: pattern="^([A-Za-z\,\;\'\s\.\?\!]*\s*[A-Za-z\,\;\'\s\.\?\!]*)$" -->
                <div class="mdl-textfield mdl-js-textfield msg-body">
                    <textarea class="mdl-textfield__input" rows= "10" id="mail-content" maxrows="10" onkeyup="this.value=this.value.replace(/[&:;@#$%{}+=|\\/^*<>\[\]]/g, '')"></textarea>
                    <label class="mdl-textfield__label" for="mail-body">Message to mounds</label>
                    <span class="mdl-textfield__error">Incorrect content characters; markdown characters only please.</span>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect msg-submit"
                        onclick="cs_homepage.utils.submitEmailMessage('{{ csrf_token() }}');" type="button">
                        Send
                </button>
            </form>
    </div>
</div>
{% endblock %}
