p {
    padding: 0px 10px;
}

blockquote {
  padding: 0px calc(100% / 8);
}

blockquote::before {
  content: '';
  display: none;
}

blockquote::after {
  content: '';
  display: none;
}

.homepage-header {
  position: relative;
  background-image: url('images/site/keyboard-bg.jpg');
  background-size: 1200px;
}

.homepage-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  color: #ff5a00;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.is-compact .mdl-layout__title span {
  display: none;
}

.homepage-logo-row {
  min-height: 200px;
}

.is-compact .homepage-logo-row {
  min-height: auto;
}

.homepage-logo {
  background: url('images/site/cb-ed-smiley-2.jpg') 50% no-repeat;
  background-size: cover;
  border: 2px solid #000000;
  height: 150px;
  width: 150px;
  margin: auto auto 10px;
}

.is-compact .homepage-logo {
  height: 50px;
  width: 50px;
  margin-top: 7px;
}

.homepage-navigation-row {
  background-color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  height: 45px;
}

.homepage-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.homepage-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
}

.homepage-header .mdl-layout__drawer-button {
    background-color: Transparent;
}

.homepage-navigation-row .is-active {
  position: relative;
  font-weight: bold;
}

.homepage-navigation-row .is-active::after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(255,64,129);
  left: 15%;
}

.homepage-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.mdl-mini-footer {
  text-align: center;
  max-width: 900px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  height: 80px;
  padding: 0px;
}

.mdl-mini-footer__link-list {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
}

.social-img {
  height: 30px;
  width: 30px;
  padding: 12px 5px 0px 5px;
}

.homepage-content-container {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-content-container {
  width: 100%;
  height: 500px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact-form-container {
  width: 100%;
  height: 500px;
  margin: 10px;
}

.mdl-textfield.mdl-js-textfield.msg-body {
  width: 100%;
}

.homepage-card .mdl-card__title {
  padding-bottom: 0;
}

.homepage-blog-card-compact .mdl-card__title {
  padding-bottom: 0;
}

.homepage-blog-card-bg > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

img.article-image {
  width: 100%;
  height: auto;
}

.homepage-max-width {
  max-width: 900px;
  margin: auto;
}

.homepage-copy {
  max-width: 700px;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    /* display: -webkit-flex;
    display: -ms-flexbox; */
    display: flex;
}

.homepage-contact .mdl-textfield {
  width: 100%;
}

.homepage-contact form {
  max-width: 550px;
  margin: auto;
}

.mdl-button > .material-icons {
    display: flex;
    align-items: center;
}

.material-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mdl-layout__drawer-button > .material-icons {
    display: flex;
    align-items: center;
}
